<!DOCTYPE html>
<title>TryROMA</title>

<link rel="stylesheet" href="/tryroma/css/tryroma.css" />

<script type="text/javascript" src="/tryroma/js/react.min.js"></script>
<script type="text/javascript" src="/tryroma/js/jquery-2.1.4.min.js"></script>

<div id="hpHead"></div>
<div id="hpHeader"></div>
<div id="reactArea"></div>
<div id="hpFooter"></div>

<!-- production -->
<script type="text/javascript" src="/tryroma/js/tryroma_common.js"></script>
<script type="text/javascript" src="/tryroma/js/tryroma_free.js"></script>
<script type="text/javascript" src="/tryroma/js/tryroma_tutorial.js"></script>
<script type="text/javascript" src="/tryroma/js/tryroma_react.js"></script>
<script type="text/javascript" src="/tryroma/js/hpComponent.js"></script>
<script type="text/javascript" src="/tryroma/js/bootstrap.min.js"></script>

<!-- development
<script type="text/javascript" src="/jsx/JSXTransformer.js"></script>
<script type="text/jsx;harmony=true" src="/jsx/tryroma_common.js"></script>
<script type="text/jsx;harmony=true" src="/jsx/tryroma_free.js"></script>
<script type="text/jsx;harmony=true" src="/jsx/tryroma_tutorial.js"></script>
<script type="text/jsx;harmony=true" src="/jsx/tryroma_react.js"></script>
<script type="text/jsx;harmony=true" src="/jsx/hpComponent.js"></script>
<script type="text/javascript" src="/jsx/bootstrap.min.js"></script>
-->

